@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/img/coverm.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* display: flex; */
    font-family: 'Arial', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: "Kalam";
    font-size: 20px;
}
h2{
    position: relative;
    left: 30px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}
form {
    margin-top: 20px;
    position: relative;
    left: 50px;
}
#btnadd{
    background-color: gray;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 80%;
    font-size: 14px;
}
#btnadd:hover{
    background-color: #4caf50;
}
input {
    color: whitesmoke;
    background-color: transparent;
    width: 10%;
    padding: 8px;
    margin-bottom: 25px;
    border-radius: 10px;
    font-size: 18px;
}
#btndel{
    background-color: gray;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 80%;
    font-size: 14px;
}
#btndel:hover{
    background-color: #af2222;
}
#btnup{
    background-color: gray;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 80%;
    font-size: 14px;
}
#btnout{
    position: relative;
    left: 80%;
    background-color: gray;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    opacity: 80%;
    font-size: 14px;
}
#btnout:hover{
    background-color: darkmagenta;
}
